body {
    color: #000000; /* black */
    background: #cfe4ef /* very light blue */
                url("cloud.png");
}

.l-bottom-menu,
.l-main-window {
    background: #bfcdee; /* very light blue */
}

.nav-item,
.top-menu-item.account {
    /* very light blue, #bfcdee */
    background: rgba(191, 205, 238, 0.8);
}

.current-window-item.yard {
    background-image: url("yard.jpg");
    background-repeat: no-repeat;
    background-size: 140%;
}

.current-window-item.info-panel
{
    background: #a0baee; /* light blue */
}

.main-window-item.current-window-name {
    background: linear-gradient(to right,
                                transparent,
                                #a0baee, /* light blue */
                                transparent);
}

.bird {
    color: #cfe4ef; /* white-ish */
    text-shadow: #000000 1px 1px 2px;
}