body {
    background: #cfe4ef /* very light blue */
                url("cloud.png");
}

#banner {
    background-image: url("banner-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100px;
    background-color: #eef2fc;
}

.yard-field {
    background-image: url("yard.jpg");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: -40px -40px;
}

.yard-info-panel, .yard-btn {
    background-color: #e6ecff; /* light blue */
}