body {
    margin: auto;
    width: 950px;
}

.darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fade {
    position: absolute;
    height: 100%;
    width: calc((100% - 920px) / 2); /* container size is 950px */
    z-index: -1;
}

#fade-left {
    left: 0;
}

#fade-right {
    right: 0;
}

footer {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-item {
    margin: 0 10px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#banner {
    display: flex;
    position: relative;
    height: 120px;
}

#usertab {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 100px;
}

#username {
    width: 175px;
    position: absolute;
    top: 5px;
    left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#currency {
    position: absolute;
    top: 34px;
    left: 5px;
    width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#pfp {
    width: 85px;
    height: 85px;
    position: absolute;
    right: 3px;
    top: 5px;
}

#pfp > img {
    width: inherit;
    height: inherit;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.nav-button {
    height: inherit;
    flex: 1;
}

#yard-container {
    display: flex;
    justify-content: space-between;
}

.yard-field-container {
    width: 650px;
    max-height: 550px;
    margin-top: 5px;
    margin-left: 10px;
}

.yard-field {
    height: 450px;
    margin: 0;
    padding: 0;
    position: relative;
}

.yard-buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-top: 5px
}

.yard-btn {
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.yard-info-panel {
    width: 250px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px;
}

#yard > h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.bird {
    position: absolute;
}

#bird-1 {
    top: 100px;
    left: 200px
}
#bird-2 {
    top: 150px;
    left: 20px
}
#bird-3 {
    top: 300px;
    left: 440px
}