body {
    margin: auto;
    width: 950px;
}

@media screen and (max-device-width: 950px) {
    body, footer {
        width: 100%;
    }
}

.darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media screen and (max-device-width: 950px) {
    .darken {
        display: none;
    }
}

.fade {
    position: absolute;
    height: 100%;
    width: calc((100% - 920px) / 2); /* container size is 950px */
    z-index: -1;
}

#fade-left {
    left: 0;
}

#fade-right {
    right: 0;
}

footer {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.footer-item {
    margin: 0 10px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#banner {
    display: flex;
    position: relative;
    height: 120px;
}

#usertab {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 100px;
}

#username {
    width: 175px;
    position: absolute;
    top: 5px;
    left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#currency {
    position: absolute;
    top: 34px;
    left: 5px;
    width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#pfp {
    width: 85px;
    height: 85px;
    position: absolute;
    right: 3px;
    top: 5px;
}

#pfp > img {
    width: inherit;
    height: inherit;
}

@media screen and (max-device-width: 550px) {
    #usertab {
        width: 200px;
        height: 80px;
    }

    #username {
        width: 115px;
    }
    #currency {
        width: 115px;
    }
    #pfp {
        width: 63px;
        height: 63px;
    }
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

#nav > .nav-button {
    height: inherit;
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

#yard-container {
    display: flex;
    justify-content: space-between;
}

.yard-field-container {
    width: 650px;
    max-height: 100%;
    margin-top: 5px;
    margin-left: 10px;
}

.yard-field {
    height: 450px;
    max-height: inherit;
    max-width: inherit;
    margin: 0;
    padding: 0;
    position: relative;
}

.yard-buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-top: 5px
}

.yard-btn {
    margin: 3px;
    padding: 2px 10px;
}

.yard-info-panel {
    width: 250px;
    margin: 5px 10px 10px 5px;
    padding: 5px;
}
.yard-info-panel > h4 {
    margin-top: 5px;
}

@media screen and (max-device-width: 950px) {
    #yard-container {
        display: block;
    }

    .yard-field-container {
        width: 100%;
        max-width: calc(100% - 25px);
        margin: auto;
    }

    .yard-field {
        margin: auto;
    }

    .yard-buttons {
        margin: 5px;
    }

    .yard-info-panel {
        margin: auto;
        width: calc(100% - 300px);
    }

    .yard-info-panel > h4 {
        text-align: center;
    }
}
@media screen and (max-device-width: 700px) {
    .yard-field-container {
        max-height: 400px;
    }
    .yard-info-panel {
        margin: 45px auto auto;
        width: calc(100% - 200px);
    }
}
@media screen and (max-device-width: 500px) {
    .yard-field-container {
        max-height: 260px;
    }

    .yard-info-panel {
        width: calc(100% - 100px);
    }
}

#yard > h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.bird {
    position: absolute;
}

#bird-1 {
    top: 1%;
    left: 2%;
}
#bird-2 {
    top: 50%;
    left: 30%
}
#bird-3 {
    top: 30%;
    left: 85%;
}
