body {
    margin: auto;
    padding: 2%;
    width: 900px;
}

.l-top-menu, .l-bottom-menu, .l-main-window {
    border-radius: 5px;
    margin: 1% 0;
    padding: 10px;
}

footer {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.footer-item {
    margin: 0 10px;
}

.l-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    max-height: 65px;
    min-height: 65px;
}

.top-menu-item {
    margin-inline: 2%;
    border-radius: 5px;
    padding: 0;
    max-height: inherit;
    min-height: inherit;
}

.top-menu-item.logo {
    display: inline;
    height: 100%;
    max-height: 60px;
    padding: 0;
    margin: 0;
}

.logo > a {
    max-height: inherit;
    padding: 0;
    margin: 0;
}

.logo > a > img {
    max-height: inherit;
    margin: 2px;
}

.top-menu-item.nav {
    display: flex;
    flex-grow: 2;
}

.nav-item {
    flex: 1;
    border-radius: 5px;
    text-align: center;
    margin: 0 8px 0 8px;
}

.main-window-item {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.main-window-item.current-window {
    display: flex;
    padding: 0;
}

.current-window-item {
    margin: 5px;
    padding: 1%;
}

.current-window-item.yard {
    width: 70%;
    height: 400px;
    border-radius: 5px;
}

.current-window-item.info-panel {
    width: 30%;
    border-radius: 5px;
}

.info-panel-item.info-panel-name {
    margin-top: 0;
}

.top-menu-item.account {
    display: flex;
    padding-left: 1%;
    margin: 0;
    max-height: inherit;
    min-height: inherit;
    max-width: 20%;
}

.account-item {
    margin: 0;
}

.account-item.pfp {
    max-height: 55px;
    text-align: end;
}

.account-item.pfp > a {
    padding: 0;
    margin: 0;
    max-height: inherit;
}

.account-item.pfp > a > img {
    max-height: inherit;
    margin: 5px;
}

.l-bottom-menu {
    padding: 0;
    height: 30px;
}

.success-secret {
    max-height: 30px;
    height: inherit;
    display: flex;
}

.news-icon {
    max-height: inherit;
    margin: 5px;
}

.nav-item a {
    max-height: 100%;
    max-width: 100%;
}

.nav-icon {
    max-height: 60%;
    max-width: inherit;
}

.nav-link > p {
    margin: 0;
}

.account-item.name {
    margin-top: 2px;
}

.nav-link {
    display: block;
    width: 100%;
    height: 100%;
}
