.main-window-item.current-window-name {
    text-align: center;
}

.code-example {
    white-space: pre-wrap;
    margin-top: -1em;
    margin-bottom: -2em;
}

.l-main-window {
    border-radius: 5px;
}

li.nav-item {
    list-style-type: none;
}

.nav-item > a {
    display: block;
    width: 100%;
    height: 100%;
}