.nav-mission-board {
    background-color: #bcd1ff;
}

.mission-board {
    background-color: #4f4fbb;
}

.board-form-container {
    background-color: #bcd1ff;
}

.card {
    background-color: #bcd1ff;
}